.hero-section {
  position: relative;
  height: 95vh;
  width: 100%;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
  border-radius: 0 0 5px 5px ;
}

.hero-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
  z-index: -1;
}


.hero-content {
  position: absolute;
  bottom: 60px;
  left: 4rem;
  right: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 2;
}

.hero-text-block {
  max-width: 55%;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: start;
}

.hero-heading {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 0.1rem;
}

.hero-subtext {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.hero-button {
  background-color: #a3e635;
  color: #1a1a1a;
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.hero-button:hover {
  background-color: #84cc16;
}


.arrow {
  margin-left: 10px;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 5px 8px;
}

.hero-mission-box {
  position: absolute;
  bottom: -40px;
  right: -35px;
  width: 20%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
  border-radius: 16px;
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero-mission-box h3 {
  font-size: 1.2rem;
  color: #ffffff;
  margin: 0;
}

.hero-mission-box p {
  font-size: 0.95rem;
  line-height: 1.2;
  color: #e5e5e5;
  text-align: start;
  margin-bottom: 0.2rem;
}

.mission-link {
  display: inline-block;
  margin-top: 0.7rem;
  color: #f4f6f0;
  font-weight: bold;
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .hero-heading {
    font-size: 2.5rem;
  }

  .hero-subtext {
    font-size: 1.1rem;
  }

  .hero-content {
    left: 2rem;
    right: 2rem;
    flex-direction: column;
    align-items: flex-start;
    bottom: 40px;
  }

  .hero-text-block {
    max-width: 100%;
  }

  .hero-mission-box {
    right: 10px;
    bottom: -20px;
    width: 30%;
  }
}

@media (max-width: 768px) {
  .hero-heading {
    font-size: 2rem;
  }

  .hero-subtext {
    font-size: 1rem;
  }

  .hero-button {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
  }

  .hero-mission-box {
    position: static;
    width: 100%;
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .hero-heading {
    font-size: 1.6rem;
  }

  .hero-subtext {
    font-size: 0.95rem;
  }

  .hero-content {
    left: 1rem;
    right: 1rem;
    bottom: 20px;
  }

  .hero-button {
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
  }
}
